/* SLAJDER */ 
.carousel-caption{
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
    color: #0f292f;
    width: 50%;
    margin: 0 auto;
}

.carousel-caption .dugme2{
    background-color: #cb2d6f!important;
    color: #ccc;
}

.carousel-caption h2{
    color: #cb2d6f;
    font-weight: bold;
}

/* CARDS */
.glavniDivovi{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: rgba(15, 41, 47, 0.85);
    transition: background-color 1s;
}

.glavniDivovi:hover{
    background-color: rgba(15, 41, 47, 1);
}

.glavniDivovi h2{
    background-color: #cb2d6f;
    border-radius: 5px;
    color: #ccc;
    position: relative;
    left: -35px;
    padding: 0.3em;
    width: 300px;
    text-align: center;
}

.kartice{
    margin: 30px auto;
    transition: all 0.4s;
}

.kartice:hover{
    transform: scale(1.02,1.02);
    cursor: pointer;
}

.card-title{
    overflow: hidden;
}

.card-footer a{ /* dugme na kartici */
    background-color: rgba(255, 255, 255, 0);
    color: #cb2d6f;
    border: 1px solid #cb2d6f;
}

.card-footer a:active{
    background-color: #cb2d6f !important;
}

.card-footer a:hover{
    background-color: #cb2d6f;
    color: #ccc;
    border: 1px solid #cb2d6f;
}

.badge{
    background-color: #cb2d6f;
    color: white;
}

.form-group{
    margin: 0 auto;
}

.alert{
    width: 70%;
    margin: 0 auto;
}

form input{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

#prviAlert{
    background-color: #0f292f;
    color: #14a098;
}

#prviAlert .btn{
    background-color: #14a098;
    color: #0f292f;
    border: 1px solid #0f292f;
}

#prviAlert .btn:hover{
    background-color: #0f292f;
    color: #14a098;
    border: 1px solid #14a098;
}

@media only screen and (max-width: 768px){
    * {
        max-width: 100%;
        overflow-x: hidden;
    }

    .glavniDivovi h2{
        left:0;
        margin: 0 auto;
        width: 100%;
    }

    .card-deck{
        margin: 0 auto;
    }

    .card{
        flex: 100% !important;
        margin: 20px auto;
    }

}

@media only screen and (max-width: 900px){
    #email, #dugmePrijava, label{
        display: block;
        margin-bottom: 10px;
        margin-right: 0 !important;
        width: 100%;
        max-width: 100%;
    }

    label{
        margin-top: 10px;
    }

}